<%= form_with model: @user, local: false do |f| %>
    <div class="form-group">
        <%= f.label :画像 %>
        <%= f.file_field :avatar %>
    </div>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control"  %>
    <div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"  %>
    <div>
    <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_field :comment, class: 'form-control'%>
    </div>
    <%= f.submit "完了", class: "btn btn-primary" %>
<% end %>
<%= link_to '一覧へ戻る', gossips_path %>